i::before {
    content: "\A";
    white-space: pre;
}

div>p {
    display: grid;
    grid-template-rows: auto;
    row-gap: 2px;
}

input[type="radio"] {
    width: 20px !important;
    height: 20px !important;
}


.correct {
    background-color: #D4EFE4;
}

.correct>input[type="radio"]:checked+*,
.wrong>input[type="radio"]:checked+* {
    color: #000000;
    /*color: #FF6C41*/
}

.normal>input[type="radio"],
.correct>input[type="radio"],
.wrong>input[type="radio"] {
    border: 4px solid white;
    appearance: none;
    padding: 1px;
    border-radius: 50%;
    background-color: #fff;
}

input[type="radio"]:checked{
    background-color: #084BFB;
}
.normal>input[type="radio"]{
    box-shadow: 0 0 0 0.5px #084BFB;
}

.correct>input[type="radio"]{
    box-shadow: 0 0 0 0.5px #00BB34;
}

.wrong>input[type="radio"]{
    box-shadow: 0 0 0 0.5px #FF6C41;

}

.correct>input[type="radio"] {

    background-color: #00BB34;

}

.wrong>input[type="radio"] {
    background-color: #FF6C41;
}

.wrong {
    background-color: #FFE0D9;

}

.wrong>label {
    color: #0000;

}

input[type="radio"]:checked+* {
    color: #084BFB;
}

font {
    margin-left: 8px;
}

#form-button {
    background-color: #084BFB;
    color: white;
    border: solid 2px transparent;
    border-radius: 30px;
    font-weight: 600;
    width: 180px;
    justify-self: flex-end;
}

#form-footer > #form-button {
    height: 40px;
}

#form-footer {
    padding: 8px 22px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#form-footer.correct,
#form-footer.wrong{
    grid-template-columns: 65% 35%;
    display: grid;
    justify-content: start;
}

#radio-option {
    align-items: center;
    padding: 8px;
    display: grid;
    grid-template-columns: 25px auto;
    column-gap: 12px;
}

hr.diviser {
    border: 0;
    margin: 0 !important;
    border-top: 0.2px solid rgb(231, 231, 231);
}

#group-radio {
    margin-top: 35px;
    margin-bottom: 14px;
    display: grid;
    row-gap: 8px;
}