.headerContainer {
  width: 100%;
  height: 5rem;
  background: var(--green-200);
  outline: 1px solid var(--green-600);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  img {
    width: 9rem;
  }

  @media (max-width: 1200px) {
    width: 90%;
  }
}
