#answer {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 1.3rem 1rem;
    gap: 1rem;
}

#answer-button {
    display: grid;
    justify-content: center;
}

@media screen and (min-width: 767.9px) {
    #answer {
        grid-template-columns: auto auto;
        gap: unset;
    }

    #answer-button {
        display: grid;
        justify-content: flex-end;
    }
}

.answer-right {
    background-color: #d4efe4;
}

.answer-wrong {
    background-color: #ffe0d9;
}

#feedback {
    font-weight: 700;
}

#message {
    margin: 0;
    padding: 0;
}


