#question {
    padding: 2rem 1rem;
}

ul {
    margin: 2rem 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding-left: .7rem;
}

.value {
    margin: .7rem;
}

p {
    margin: 0;
    padding: 0;
}

i {
    display: block;
    margin-top: 1rem;
}