@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    background-color: #fff;
    display: grid;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

main {
    width: 720px;
}

#question {
    background-color: #fff;
    padding: 2rem 1rem;
}

ul {
    margin: 2rem 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding-left: .7rem;
}

.value {
    margin: .7rem;
}

input[type='radio']{
    -webkit-appearance:none;
    width:1.4rem;
    height:1.4rem;
    border:1px solid darkgray;
    vertical-align: middle;
    margin: 1rem 0;
    border-radius:50%;
    outline:none;
}

input[type='radio']:after {
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    top: 3.7px;
    left: 4px;
    position: relative;
    background-color: unset;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    top: 3.7px;
    left: 4px;
    position: relative;
    background-color: #084bfb;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked + .option {
    color: #084bfb;
}

input[type='radio']:checked {
    border: 1px solid #084bfb;
}

.certo input[type='radio']:checked:after {
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    top: 3.7px;
    left: 4px;
    position: relative;
    background-color: #00bb34;
    content: '';
    display: inline-block;
    visibility: visible;
}

.certo input[type='radio']:checked + .option {
    color: #000;
}

.certo input[type='radio']:checked {
    border: 1px solid #00bb34;
}

.errado input[type='radio']:checked:after {
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    top: 3.7px;
    left: 4px;
    position: relative;
    background-color: #ff6c41;
    content: '';
    display: inline-block;
    visibility: visible;
}

.errado input[type='radio']:checked + .option {
    color: #000;
}

.errado input[type='radio']:checked {
    border: 1px solid #ff6c41;
}

#answer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 1.3rem 1rem;
}

.answer-right {
    background-color: #d4efe4;
}

.answer-wrong {
    background-color: #ffe0d9;
}

#feedback {
    font-weight: 700;
}

p {
    margin: 0;
    padding: 0;
}

#message {
    margin: 0;
    padding: 0;
}

#answer-button {
    display: grid;
    justify-content: flex-end;
}

.button {
    width: 200px;
    padding: .775rem 0;
    margin-right: 1.25rem;
    border-radius: 50px;
    border: unset;
    text-transform: uppercase;
    font-weight: 700;
    color: #9b9b9b;
}

.button-validate {
    background-color: #084bfb;
    color: #fff;
    cursor: pointer;
}

i {
    display: block;
    margin-top: 1rem;
}